<main class="Navegador">
  <section class="Logo_Pagina">
    <div class="Logo_Pagina_img">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Logo_de_la_Universidad_Veracruzana.svg" alt="logo" />
    </div>
  </section>

  <section class="Nombre_Pagina">
    <div class="Nombre_Pagina_Text_Defualt">
      Universidad <span class="Nombre_Pagina_Text_Defualt"> Veracruzana </span>
    </div>
  </section>

  <section class="Opciones_Rutas">
    <div class="Rutas_Navegacion_Contenedor">
      <nav class="Rutas_Navegacion_Listado">
        <a [routerLink]="'/Sistema/Inicio'">Inicio</a>
        <a [routerLink]="'/Sistema/Inicio/Listado'">Listado</a>
      </nav>
    </div>
  </section>

  <section class="Cuenta">
    <div class="Cerrar_Sesion">
      <button type="submit" (click)="CerrarSesion()">Cerrar Sesion</button>
    </div>
  </section>
</main>
